.flex-container{
    /* width: 500px; */
    /* height: 500px; */
    border: 2px solid;
    display: flex;
    padding: 10px;
    gap: 10px;
}
.flex-container>div{
    /* width: 100px; */
    height: 50px;
    border: 2px solid;
}
.flex-child1{
    flex-basis: 400px;
    flex-shrink: 30;
    background-color: aqua;
}
.flex-child2{
    flex-basis: 200px;
    flex-shrink: 10;
    background-color: blue;
}
.flex-child3{
    flex-basis: auto;
    flex-shrink: 1;
    background-color: aquamarine;
}
.flex-child4{
    flex-basis: 300px;
    flex-shrink: 15;
    background-color: aliceblue;
}